<h3><%= l(:label_agile_light_free_version) %></h3>
<ul>
	<li><%= link_to l(:label_agile_link_to_pro), "https://www.redmineup.com/pages/plugins/agile#pricing?utm_source=bitnami&utm_medium=partner&utm_campaign=bitnami" %>
</li>
<li><%= link_to l(:label_agile_link_to_pro_demo), "http://demo.redminecrm.com/projects/agile/agile/board?utm_source=bitnami&utm_medium=partner&utm_campaign=bitnami" %>
</li>
<li><%= link_to l(:label_agile_link_to_more_plugins), "http://www.redmineup.com/pages/plugins?utm_source=bitnami&utm_medium=partner&utm_campaign=bitnami" %>
</li>
</ul>
